body {
  background-color: #CAF0F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  padding: 20px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5%;
  animation: fadeInAnimation ease 3.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.designedBy {
  font-size: 14px;
  margin: 0% 0% 1% 0%;
}

.footerButtons {
  margin: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

.image {
  width: 50%;
  height: auto;
  box-shadow: 1px 2px 9px rgb(103, 103, 103);
}

footer > div > a > img {
  transition: 0.26s;
  width: 70%;
  height: auto;
}

footer > div > a > img:hover {
  width: 80%;
  cursor: pointer;
}

footer > div > a > p {
  color: black;
  text-decoration: underline;
}

footer > div > a > p:hover {
  color: #0000EE;
}

.cssImg {
  width: 80%;
}

.cssImg:hover {
  width: 90%;
  cursor: pointer;
}

footer > div > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  border: 1px rgba(5, 5, 5, 0.286) solid;
  border-radius: 1.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.logoText {
  border: 1px rgb(137, 137, 137) solid;
  border-radius: 5%;
  position: relative;
  margin-top: -2.5%;
  background-color: #CAF0F8;
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
}

.logo {
  width: 60%;
  height: auto;
  padding: 5%;
}

.goalBox {
  border: 1px rgba(5, 5, 5, 0.286) solid;
  border-radius: 1.3%;
  width: 700px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.goalText {
  border: 1px rgb(137, 137, 137) solid;
  border-radius: 5%;
  position: relative;
  margin-top: -2.5%;
  background-color: #CAF0F8;
  padding: 5px;
}

.goalP {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tagline {
  text-decoration: underline;
}

.palletteBox {
  border: 1px rgba(5, 5, 5, 0.286) solid;
  border-radius: 1.3%;
  width: 700px;
  height: 150px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInAnimation ease 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.palletteText {
  border: 1px rgb(137, 137, 137) solid;
  border-radius: 5%;
  position: relative;
  margin-top: -2.5%;
  background-color: #CAF0F8;
  padding: 5px;
}

.colorsBox {
  display: flex;
}

.colorsBox > div {
  width: 70px;
  height: 70px;
  margin: 15px;
  border-radius: 100%;
  border: 1px solid rgba(57, 57, 57, 0.142);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.colorsBox > div:hover {
  border: 1px solid black;
}

.color1 {
  background: #03045E;
}

.color2 {
  background: #4582BE;
}

.color3 {
  background: #00B4D8;
}

.color4 {
  background: #90E0EF;
}

.color5 {
  background: #CAF0F8;
}

.colorsBox > div > p {
  position: relative;
  margin-top: 120px;
  font-size: 14px;
}

.fontsBox {
  width: 700px;
  height: 150px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px rgba(5, 5, 5, 0.286) solid;
  border-radius: 1.3%;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.bothFontsBox {
  display: flex;
  justify-content: space-around;
}

.font1Box, .font2Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 320px;
}

.typefaceText {
  border: 1px rgb(137, 137, 137) solid;
  border-radius: 5%;
  position: relative;
  margin-top: -5.5%;
  background-color: #CAF0F8;
  padding: 5px;
}

.fontAlphabet, .fontAlphabet2 {
  margin-top: 5px;
}

.fontAlphabet2 {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  margin-top: 10px;
}

.font2Box {
  font-family: 'Inter', sans-serif;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}