header > h1 {
  border: none;
}

h1 {
  border: 1px rgba(5, 5, 5, 0.286) solid;
  border-radius: 1.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  align-self: center;
}

.logoText {
  border: 1px rgb(137, 137, 137) solid;
  border-radius: 5%;
  position: relative;
  margin-top: -2.5%;
  background-color: #CAF0F8;
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
}

.logo {
  width: 60%;
  height: auto;
  padding: 5%;
}

.goalBox {
  border: 1px rgba(5, 5, 5, 0.286) solid;
  border-radius: 1.3%;
  width: 700px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.goalText {
  border: 1px rgb(137, 137, 137) solid;
  border-radius: 5%;
  position: relative;
  margin-top: -2.5%;
  background-color: #CAF0F8;
  padding: 5px;
}

.goalP {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tagline {
  text-decoration: underline;
}

.palletteBox {
  border: 1px rgba(5, 5, 5, 0.286) solid;
  border-radius: 1.3%;
  width: 700px;
  height: 150px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInAnimation ease 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.palletteText {
  border: 1px rgb(137, 137, 137) solid;
  border-radius: 5%;
  position: relative;
  margin-top: -2.5%;
  background-color: #CAF0F8;
  padding: 5px;
}

.colorsBox {
  display: flex;
}

.colorsBox > div {
  width: 70px;
  height: 70px;
  margin: 15px;
  border-radius: 100%;
  border: 1px solid rgba(57, 57, 57, 0.142);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.colorsBox > div:hover {
  border: 1px solid black;
}

.color1 {
  background: #03045E;
}

.color2 {
  background: #4582BE;
}

.color3 {
  background: #00B4D8;
}

.color4 {
  background: #90E0EF;
}

.color5 {
  background: #CAF0F8;
}

.colorsBox > div > p {
  position: relative;
  margin-top: 120px;
  font-size: 14px;
}

.fontsBox {
  width: 700px;
  height: 150px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px rgba(5, 5, 5, 0.286) solid;
  border-radius: 1.3%;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.bothFontsBox {
  display: flex;
  justify-content: space-around;
}

.font1Box, .font2Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 320px;
  font-size: 14px;
}

.typefaceText {
  border: 1px rgb(137, 137, 137) solid;
  border-radius: 5%;
  position: relative;
  margin-top: -5.5%;
  background-color: #CAF0F8;
  padding: 5px;
}

.fontAlphabet, .fontAlphabet2 {
  margin-top: 5px;
}

.fontAlphabet2 {
  font-family: 'Inter', sans-serif;
  margin-top: 10px;
}

.font2Box {
  font-family: 'Inter', sans-serif;
}

.font1Text {
  font-size: 15px;
}

body {
  background: #CAF0F8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Akatab', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 2% 0 2%;
  animation: fadeInAnimation ease 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

h2 {
  align-self: center;
  font-family: 'Akatab', sans-serif;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5%;
  transition: 0.25s;
}

header > nav > ul > li > a:hover {
  background-color: #45c4de26;
  text-shadow: 1px 1px 5px white;
  cursor: pointer;
}

header > nav > ul > li {
  display: inline;
}

header > nav > ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header > nav  {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  background-color: #00b4d812;
  padding: 20px;
  width: 100%;
  border-bottom: solid 2px rgba(0, 0, 0, 0.147);
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5%;
  margin-top: 5%;
  animation: fadeInAnimation ease 3.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.navBox {
  width: 80%;
  margin: 3% 0% 3% 0%;
  font-size: 18px;
  text-decoration: none;
}

.footerNav > li {
  display: inline;
}

.footerNav > li > a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  background-color: #00b4d86d;
  padding: 14px;
  border-radius: 6%;
  transition: 0.15s;
}

.footerNav > li > a:hover {
  background-color: #00B4D8;
  text-shadow: 1px 1px 5px white;
  box-shadow: 1px 1px 2px rgba(141, 141, 141, 0.644);
}

.footerNav {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.designedBy {
  font-size: 16px;
  margin: 1%;
}

.footerButtons {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  margin: 20px;
  width: 50%;
  font-size: 14px;
}

.footerButtons a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
  padding: 14px;
  background-color: #90E0EF;
  border-radius: 5%;
}

.footerButtons a:hover   {
  background-color: #00B4D8;
  text-shadow: 1px 1px 5px white;
  box-shadow: 1px 1px 2px rgba(141, 141, 141, 0.644);
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
