body {
  background: rgb(228, 238, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Akatab', sans-serif;
}


.nameLink {
  color: black;
  transition: 0.25s;
}

.nameLink:hover {
  color: #0000EE;
}


footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5%;
}

.designedBy {
  font-size: 14px;
  margin: 0% 0% 1% 0%;
}

.footerButtons {
  margin: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

.image {
  width: 50%;
  height: auto;
  box-shadow: 1px 2px 9px rgb(103, 103, 103);
}

footer > div > a > img {
  transition: 0.26s;
  width: 70%;
  height: auto;
}

footer > div > a > img:hover {
  width: 80%;
  cursor: pointer;
}

footer > div > a > p {
  color: black;
  text-decoration: underline;
}

footer > div > a > p:hover {
  color: #0000EE;
}

.cssImg {
  width: 80%;
}

.cssImg:hover {
  width: 90%;
  cursor: pointer;
}

footer > div > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
